# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/*.*
!/.gitignore
!/settings.gradle.kts
!/gradlew
!/gradlew.bat
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!.github/
!.java-version
!.dockerignore
!compose.yml
!.devcontainer

# A directory used as bind mount in a docker setup
run